<!DOCTYPE html>
<html>
<head>
    <title>Menu - KBS Bakery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>🍰 Cakes & Indian Sweets 🍬</h1>

<a href="/logout">Logout</a>

<div class="cake-container">
    {% for item in items %}
    <div class="cake-card">

        <img class="product-img"
             src="{{ url_for('static', filename='images/' + item['image']) }}"
             alt="{{ item['name'] }}">

        <h2>{{ item["name"] }}</h2>
        <p>Price: ₹{{ item["price"] }} per kg</p>
        <p>Stock Available: {{ item["stock"] }}</p>

        {% if item["stock"] > 0 %}
        <form action="/add" method="POST">
            <input type="hidden" name="item_id" value="{{ item['id'] }}">
            <input type="hidden" name="item_name" value="{{ item['name'] }}">
            <input type="hidden" name="price" value="{{ item['price'] }}">

            <label>Weight:</label>
            <select name="weight">
                <option value="0.5">0.5 kg</option>
                <option value="1">1 kg</option>
                <option value="2">2 kg</option>
            </select>

            <br><br>

            <label>Quantity:</label>
            <input type="number" name="quantity" value="1" min="1" max="{{ item['stock'] }}">

            <br><br>

            <button type="submit">Add to Cart</button>
        </form>
        {% else %}
            <h3 style="color:red;">Currently Unavailable</h3>
        {% endif %}
    </div>
    {% endfor %}
</div>

<br>
<a href="/cart">🛒 View Cart</a>
<br><br>
<a href="/">⬅ Back to Home</a>

</body>
</html>